@using Microsoft.AspNetCore.Identity
@inject SignInManager<videoscriptAI.Models.ApplicationUser> SignInManager
@inject UserManager<videoscriptAI.Models.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Hello, @User.Identity?.Name!</a>
        </li>
        @if ((await UserManager.GetUserAsync(User))?.IsAdmin == true)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Admin/Dashboard">Admin Dashboard</a>
            </li>
        }
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/api/ExternalAuth/GoogleLogin">Accedi con Google</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
</ul>